                h1,
                span.large {
                  font-size: 4em;
                  font-weight: 700;

                  @media screen and (${devices.mobileL}) {
                    font-size: 5.6em;
                  }

                  @media screen and (${devices.tablet}) {
                    font-size: 7em;
                  }

                  @media screen and (${devices.desktop}) {
                    font-size: 8em;
                  }
                }